{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>

        <div class="success">
            {{ item }}
            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created successfully <br>{{sqId}}</h3>

            <a class="btns btn-green" href="/hero">View Heroes</a>
            <a class="btns btn-green" href="/squad">View Squads</a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}